<h1>Enter the key from your email please </h1>

<form action="" name='token_key' method="POST">
<div class="form-group"></div>
<input type="text" id="key_token" name="key_token"><br>     Key<br>
<input type="password" id="password" name="password"><br>       new password<br>
<input type="password" id="password" name="conf_password"><br>       confirmation new password<br>
<button type="submit">Rounded</button>
 </div>
</form>
