<div style="padding-bottom: 150px;">
  <h1>Welcome to your dashboard <span style="color: #EB6864;">{{data.user.username}}</span></h1>
  <p>In order to find a successful match, we need some more information so that you can meet people who have the same
    interests as you.
    </br>Pro tip: uploading a real picture of you will increase your luck of finding a successful match.</p>
  <br>
  <!--if errors -->
  {{#compare error "!=" undefined}}
  <div id="errorMessage" class="alert alert-danger fade in" style="text-align: center; font-size: 1.3em;">
    <p>{{ error }} </p><br />
  </div>
  {{/compare }}
  <div class="container">
    <div class="row no-gutters">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5>Main Picture</h5>

            <form action="" method="post" enctype="multipart/form-data">
              <h5 class="card-title">Upload a profile picture</h5>
              <form name="form_main-picture" action="dashboard/setmain" method="post">
                <input type="hidden" name="setmain" id="setmain" value="">
                <input type="submit" id="btn-setmain" style="margin: auto;" class="btn btn-outline-primary"
                  type="submit" value="Set as profile photo" />
                <form>
                  <div class="form-group">
                    <p>Upload up to 5 pics max</p>
                    {{#each images}}
                    <div class="col-sm-6 col-md-3">
                      <a class="thumbnail">
                        <img src="{{ this.name }}" id="img{{this.id}}" name="img{{this.id}}"
                          alt="Generic placeholder thumbnail">
                      </a>
                    </div>
                    {{/each}}
                    <div>
                      <input type="file" id="files-input-upload" name="file" accept="image/*" style="display:none;">
                      <input type="text" id="file-input-name" disabled="disabled" placeholder="File not selected"
                        class="form-control">
                      <label for="files" class="btn btn-outline-primary" id="btn-upload">Browse image</label>
                    </div>
                  </div>
                </form>
                <form name="form_delete" action="dashboard/remove" method="post">
                  <input type="hidden" name="hidden" id="hidden" value="">
                  <button type="submit" id="btn-delete" class="btn btn-outline-primary" name="submit">Remove</button>
                </form>
          </div>
        </div>
        {{!-- FIN obsolete, utiliser gallery page en attendant --}}
        <form action="" method="POST" name="form-profil" id="form-profil">
      </div>

      <div class="col-sm-8">

        <div class="card">
          <div class="card-body">
            <h5>Allow Matcha to access your location:</h5>
            <button onclick="getLocation()" class="btn btn-outline-primary">Turn on Location</button>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5>What is your gender:</h5>
            <select id="gender" name="gender" class="form-control">
              {{#compare data.user.gender "==" 'Man'}}
              <option selected="selected">Man</option>
              <option>Woman</option>
              {{/compare}}
              {{#compare data.user.gender "==" 'Woman'}}
              <option>Man</option>
              <option selected="selected">Woman</option>
              {{/compare}}
            </select>
          </div>
        </div>


        <div class="card">
          <div class="card-body">
            <h5>Who are you looking for:</h5>
            <select id="sexpref" name="sexpref" class="form-control">

              {{#compare data.user.sexpref "==" 'Heterosexual'}}
              <option selected="selected">Heterosexual</option>
              <option>Homosexual</option>
              <option>Bisexual</option>
              {{/compare}}
              {{#compare data.user.sexpref "==" 'Homosexual'}}
              <option>Heterosexual</option>
              <option selected="selected">Homosexual</option>
              <option>Bisexual</option>
              {{/compare}}
              {{#compare data.user.sexpref "==" 'Bisexual'}}
              <option>Heterosexual</option>
              <option>Homosexual</option>
              <option selected="selected">Bisexual</option>
              {{/compare}}

            </select>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5>How old are you:</h5>
            <input type="age" name="age" min="18" max="100" class="form-control" value="{{ data.user.age }}">
            <small id="age" class="form-text text-muted">You have to be legally an adult (minimum 18)</small>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p>Share a short description of yourself.</p>
            <div class="controls">
              <textarea id='bio' name="bio" class="form-control" rows="3">{{ data.user.bio }}</textarea>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div>
              <h5>Interest Tags</h5>
              <input type="text" name="tags" id="tags" value="" placeholder="Insert your own tag" />
              <button type="submit" class="btn btn-outline-primary" id="btn-addTag" name="btn-addTag">Add</button>
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="allTags" name="allTags">
                {{#each userTags}}
                {{#each this}}
                <span class="tag">{{this}}</span>
                {{/each}}
                {{/each}}
              </div>
              <div id="tagsAvail-container">
                <p>Or pick one of these tags:</p>
                {{#each tags}}
                {{#each this}}
                <span class="tagAvailable">{{this.name}}</span>
                {{/each}}
                {{/each}}
              </div>
            </div>
          </div>


          <div class="card">
            <div class="card-body">
              <h5>Personal Info</h5>
              <div class="form-group row">
                <label for="first_name" class="col-sm-2 col-form-label">First name</label>
                <div class="col-sm-10">
                  <input id="firstName" name="firstName" type="text" placeholder="First Name" class="form-control"
                    value="{{ data.user.firstName }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                  <input id="lastName" name="lastName" type="text" placeholder="Last Name" class="form-control"
                    value="{{ data.user.lastName }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-sm-10">
                  <input id="username" name="username" type="text" placeholder="Username" class="form-control"
                    value="{{ data.user.username }}">
                </div>
              </div>
              <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input id="email" name="email" type="email" placeholder="you@example.com" class="form-control"
                    value="{{ data.user.email }}">
                </div>
              </div>
              <button type="submit" class="btn btn-primary" id="form-submit">Submit</button>
              </form>

            </div>
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="/static/js/dashboard.js"></script>
    <script type="text/javascript" src="/static/js/uploadImage.js"></script>
    <script type="text/javascript" src="/static/js/tag.js"></script>
    {{!-- <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/socket_online.js"></script> --}}