<span id="currentUser" style="display: none;">{{currentUser}}</span>
<input type="hidden" id="url" value="{{url}}" />

<div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">


        <div style="padding-top: 50px; padding-bottom: 150px;">
            <div class="container">

                <div class="card mb-3" style="width: 30rem;">
                    <img id="profil-main-pic" class="card-img-top img-responsive profil-img" src="{{mainpix}}">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-auto mr-auto">
                                <h5 class="card-title">{{user.username}}'s profile</h5>
                            </div>
                            <div class="col-auto">Popularity score:<i class="glyphicon glyphicon-flash" id="i-pop"
                                    style="font-size: 2em; color: #FFBE00;"></i></div>
                        </div>

                        <div class="row">
                            {{!-- LIKE/UNLIKE --}}
                                   <div class="col-auto mr-auto" id="like-container">

                                    <form action="" method="post" name="form-like" id="form-like">
                                        {{#if like}}
                                        <i class="glyphicon glyphicon-heart" id="i-like"
                                            style="font-size: 4em; color: red;"></i>
                                        <input type="hidden" id="btn-like" value="Unlike" style="display: inline" />
                                        {{else}}
                                        <i class="glyphicon glyphicon-heart" id="i-like"
                                            style="font-size: 4em; color: grey;"></i>
                                        <input type="hidden" id="btn-like" value="Like" style="display: inline" />
                                    </form>
                                </div>
                                {{/if}}
                            {{!-- LIKE/UNLIKE --}}
                            {{!-- BLOCK/UNBLOCK --}}

                                    <div class="col-auto mr-auto" id="block-container">
                                    <form action="" method="post" name="form-block" id="form-block">
                                        {{#if block}}
                                        <div class="col" id="block-container">
                                            <i class="glyphicon glyphicon-remove" id="i-block"
                                                style="font-size: 4em; color: black;"></i>
                                            <input type="hidden" id="btn-block" value="Unblock"
                                                style="display: inline" />
                                        </div>
                                        {{else}}
                                        <i class="glyphicon glyphicon-remove" id="i-block"
                                            style="font-size: 4em; color: grey;"></i>
                                        <input type="hidden" id="btn-block" value="Block" style="display: inline" />
                                    </form>
                                </div>
                                {{/if}}
                        </div>
                        {{!-- BLOCK/UNBLOCK --}}

                        <h5>{{user.firstName}} {{user.lastName}}</h5>
                        <p>{{user.age}}, {{user.gender}}, {{user.sexpref}}</p>
                        <span id="last-connection">Last connection: {{user.lastConnection}}</span>
                        <p class="card-text">
                            <h5>About me:</h5><br />
                            <p>{{user.bio}}</p>
                            <h5>My Tags interests:</h5><br />
                            <p>
                                <div id="profil-tags-container">
                                    {{#each tags}}
                                    <span class="profil-tag">{{this.name}}</span>
                                    {{/each}}
                                </div>
                            </p>
                            <h5>My gallery</h5><br />
                            <p>
                                <div id="profil-img-container">
                                    {{#each images}}
                                    <div class="col">
                                        <img class="img-responsive profil-img" src="{{this.name}}" />
                                    </div>
                                    {{/each}}
                                </div>
                            </p>

                            {{!-- REPORT --}}
                            {{!-- <div id="report-container">
                                <form action="" method="post" name="form-report" id="form-report">
                                    <i class="glyphicon glyphicon-bullhorn" id="report-content"
                                        style="font-size: 2em; color: black;">Report</i>
                                    <input type="hidden" id="btn-report" value="Report" style="display: inline" />
                                </form>
                            </div> --}}


{{!-- 
                                   <div class="col" id="report-container">
                                    <form action="" method="post" name="form-report" id="form-report">
                                        {{#if report}}
                                        <i class="glyphicon glyphicon-bullhorn" id="i-report"
                                            style="font-size: 4em; color: black;"></i>
                                        <input type="hidden" id="btn-report" value="Reported" style="display: inline" />
                                        {{else}}
                                        <i class="glyphicon glyphicon-bullhorn" id="i-report"
                                            style="font-size: 4em; color: grey;"></i>
                                        <input type="hidden" id="btn-report" value="Report" style="display: inline" />
                                    </form>
                                </div> --}}


                            {{!-- REPORT --}}

                        </p>
                    </div>
                </div>


            </div>
        </div>


    </div>
</div>

<script type="text/javascript" src="/static/js/profile.js"></script>