<h1>Enter your email please to get a email to reset your password </h1>

<form action="" name='email' method="POST">
<div class="form-group"></div>
<input type="email" id="email" name="email"><br><br>
<button type="submit">Rounded</button>
 </div>
</form>