<h1>Welcome to <span id="welcome" style="color:#EB6864;"><i class="glyphicon glyphicon-fire2"></i>MATCHA</h1></span>

<div class="container">
  <p>It's never too late to find your soulmate.</p>
  <div class="username-form">
    <form action="" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" id="email" placeholder="Username">
  </div>
  <div class="username-form">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" value="Sign in">Login</button>
</form>

<p></p>

<p>Haven't signed up yet? <a href="/auth/signup">Create a new account now!</a></p>
<p>forgot your password? <a href="/auth/sendpwd">Get a new password and DON'T FORGET IT !!!!</a></p>
</div>
<!--if errors -->
{{#if error}}
<div id="errorMessage" class="alert alert-danger fade in" style="text-align: center">
  <p>{{ error }} </p><br/>
</div>
{{/if }}