<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="color:#EB6864;font-size: 1.3em"><i class="glyphicon glyphicon-fire"></i>Matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/users/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/finder"><i class="glyphicon glyphicon-heart" style="color:#EB6864;"></i>Finder</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/search">Search</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/map">Map</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/chat">Chat</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/history">History</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/users/notifications">Notifications</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/auth/logout"><i class="glyphicon glyphicon-log-out"></i>Log Out</a>
      </li>

    </ul>
  </div>
</nav>